<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.AllDeviceStatusMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.pojo.AllDeviceStatus" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="device_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tem" jdbcType="FLOAT" javaType="java.lang.Float" />
      <arg column="hum" jdbcType="FLOAT" javaType="java.lang.Float" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, device_id, tem, hum, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from device_status
    where device_id = #{device_id,jdbcType=INTEGER}
  </select>

  <update id="update" parameterType="com.mmall.pojo.DeviceStatus" >
    update device_status
    set
      tem = #{tem,jdbcType=FLOAT},
      hum = #{hum,jdbcType=FLOAT},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where device_id = #{device_id,jdbcType=INTEGER}
  </update>

  <insert id="insert" parameterType="com.mmall.pojo.AllDeviceStatus" >
    insert into all_device_status (id,device_id, tem,hum, create_time, update_time)
    values (#{id,jdbcType=INTEGER},#{device_id,jdbcType=INTEGER}, #{tem,jdbcType=FLOAT },#{hum,jdbcType=FLOAT },now(), now())
  </insert>

  <select id="selectAllDevice" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from device
    where 1 = 1
  </select>

  <select id="selectByDeviceId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from all_device_status
    where device_id = #{device_id,jdbcType=INTEGER}
    order by create_time
  </select>

</mapper>