<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.DeviceMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.pojo.Device" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tem" jdbcType="FLOAT" javaType="java.lang.Float" />
      <arg column="hum" jdbcType="FLOAT" javaType="java.lang.Float" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, tem, hum, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from device
    where id = #{id,jdbcType=INTEGER}
  </select>

  <update id="update" parameterType="com.mmall.pojo.Device" >
    update device
    set
      tem = #{tem,jdbcType=FLOAT},
      hum = #{hum,jdbcType=FLOAT},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insert" parameterType="com.mmall.pojo.Device" >
    insert into device (id, tem, hum,
      status, create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{tem,jdbcType=INTEGER}, #{hum,jdbcType=INTEGER},
      #{status,jdbcType=INTEGER}, now(), now())
  </insert>
</mapper>